{{ header }} {{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-novalnet-paypal" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ novalnet_heading_title }} {{ logo_novalnet_paypal }}</h1>                                               
            <ul class="breadcrumb">
               {% for breadcrumb in breadcrumbs %}
               <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
               {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}		
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
         <div class="panel panel-default">
            <script src="view/javascript/novalnet/novalnet_admin.js" type="text/javascript"></script>
            <div class="panel-heading">
                <h4>
                  
                    {{ entry_paypal_admin_portal_src }}
                </h4>
            </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-novalnet-paypal" class="form-horizontal">
                    <div class="tab-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-payment-novalnet-paypal-status">{{ entry_enable_payment }}</label>
                            <div class="col-sm-10">
                                <select name="payment_novalnet_paypal_status" id="input-payment-novalnet-paypal-status" class="form-control">
                                    <option value="1" {% if payment_novalnet_paypal_status == 1 %} selected="selected" {% endif %} >{{ text_enabled }}</option>
                                    <option value="0" {% if payment_novalnet_paypal_status == 0 %} selected="selected" {% endif %}>{{ text_disabled }}</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-payment-novalnet-paypal-test-mode"><span data-toggle="tooltip" title="{{ test_mode_desc }}">{{ enable_test_mode }}</span></label>
                            <div class="col-sm-10">
                                <select name="payment_novalnet_paypal_testmode" id="input-payment-novalnet-paypal-test-mode" class="form-control">
                                    <option value="1" {% if payment_novalnet_paypal_testmode == 1 %}  selected="selected" {% endif %} >{{ text_true }}</option>
                                    <option value="0"  {% if payment_novalnet_paypal_testmode == 0 %} selected="selected" {% endif %} >{{ text_false }}</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-payment-novalnet-paypal-shopping-type"><span data-toggle="tooltip" title="{{ shopping_type_desc }}">{{ shopping_type }}</span></label>
                            <div class="col-sm-10">
                                <select name="payment_novalnet_paypal_shopping_type" id="input-payment-novalnet-paypal-shopping-type" class="form-control">
                                    <option value="none" {% if payment_novalnet_paypal_shopping_type == 'none' %}  selected="selected" {% endif %} >{{ shopping_type_none }}</option>
                                    <option value="ONE_CLICK" {% if payment_novalnet_paypal_shopping_type == 'ONE_CLICK' %}  selected="selected" {% endif %} >{{ one_click_shopping }}</option>
                                    <option value="ZERO_AMOUNT" {% if payment_novalnet_paypal_shopping_type == 'ZERO_AMOUNT' %}  selected="selected" {% endif %} >{{ zero_amount_booking }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-payment-novalnet-paypal-authenticate"><span data-toggle="tooltip" title="{{ onhold_payment_action_desc }}">{{ onhold_payment_action }}</span></label>
                                <div class="col-sm-10">
                                    
                                    <select name="payment_novalnet_paypal_authenticate" id="input-payment-novalnet-authenticate" class="form-control">
										{% if payment_novalnet_paypal_authenticate == "1" %}	
											<option value="1" selected="selected">{{ authorize }}</option>
											<option value="0">{{ capture }}</option>
										{% else %}
											<option value="1">{{ authorize }}</option>
											<option value="0" selected="selected">{{ capture }}</option>
										{% endif %}                                        
                                    </select>
                                </div>
                            </div>
						<div class="form-group nn_payment_onhold">
							<label class="col-sm-2 control-label" for="input-payment-novalnet-paypal-manual-limit"><span data-toggle="tooltip" title="{{ entry_onhold_limit_desc }}">{{ entry_onhold_limit }}</span></label>
							<div class="col-sm-10">
								<input type="text" id="input-payment-novalnet-paypal-manual-limit" name="payment_novalnet_paypal_manual_limit" value="{{ payment_novalnet_paypal_manual_limit }}" class="form-control"/>
							</div>
						</div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-payment-novalnet-paypal-buyer-notification"><span data-toggle="tooltip" title="{{ notification_buyer_desc }}">{{ notification_buyer }}</span></label>
                            <div class="col-sm-10">
                                <textarea name="payment_novalnet_paypal_buyer_notification" id="input-payment-novalnet-paypal-buyer-notification" cols="50" rows="2" class="form-control">{{ payment_novalnet_paypal_buyer_notification }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-payment-novalnet-paypal-pending-order-status"><span data-toggle="tooltip" title="{{ paypal_pending_status_desc }}">{{ paypal_pending_status }}</span></label>
                            <div class="col-sm-10">
                             {% if payment_novalnet_paypal_pending_order_status is empty %}
                                {% set payment_novalnet_paypal_pending_order_status = 1 %}
                                {% endif %}
                                <select name="payment_novalnet_paypal_pending_order_status" id="input-payment-novalnet-paypal-pending-order-status" class="form-control">
									{% for order_status in order_statuses %}
									<option value="{{ order_status.order_status_id }}" {% if order_status.order_status_id == payment_novalnet_paypal_pending_order_status %} selected="selected" {% endif %} >{{ order_status.name }}</option>
									{% endfor %}                                     
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-payment-novalnet-paypal-order-completion-status"><span data-toggle="tooltip" title="{{ order_completion_status_desc }}">{{ order_completion_status }}</span></label>
                            <div class="col-sm-10">
                            {% if payment_novalnet_paypal_order_completion_status is empty %}
                                {% set payment_novalnet_paypal_order_completion_status = 5 %}
                                {% endif %}
                                <select name="payment_novalnet_paypal_order_completion_status" id="input-payment-novalnet-paypal-order-completion-status" class="form-control">
									{% for order_status in order_statuses %}
									<option value="{{ order_status.order_status_id }}" {% if order_status.order_status_id == payment_novalnet_paypal_order_completion_status %} selected="selected" {% endif %} >{{ order_status.name }}</option>
									{% endfor %}                                   
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-payment-novalnet-paypal-total"><span data-toggle="tooltip" title="{{ entry_minimum_goods_desc }}">{{ entry_minimum_goods }}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="payment_novalnet_paypal_total" id="input-payment-novalnet-paypal-total" value="{{ payment_novalnet_paypal_total }}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-payment-novalnet-paypal-geo-zone-id"><span data-toggle="tooltip" title="{{ entry_geo_zone_desc }}">{{ entry_geo_zone }}</span></label>
                            <div class="col-sm-10">
                                <select name="payment_novalnet_paypal_geo_zone_id" id="input-payment-novalnet-paypal-geo-zone-id" class="form-control">
									<option value="0">{{ text_all_zones }}</option>
									{% for geo_zone in geo_zones %}
									<option value="{{ geo_zone.geo_zone_id }}" {% if geo_zone.geo_zone_id == payment_novalnet_paypal_geo_zone_id %}  selected="selected" {% endif %}>{{ geo_zone.name }}</option>
                                    {% endfor %}                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-payment-novalnet-paypal-sort-order"><span data-toggle="tooltip" title="{{ entry_sort_order_desc }}">{{ entry_sort_order }}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="payment_novalnet_paypal_sort_order" id="input-payment-novalnet-paypal-sort-order" value="{{ payment_novalnet_paypal_sort_order }}" class="form-control" />
                            </div>
                        </div>
                        <input type="hidden" id="paypal_one_click_info" value="{{ paypal_one_click_info }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{{ footer }}
<script>
    $(document).ready(function(){

			$('select[name="payment_novalnet_paypal_shopping_type"]').change(function(){
				if($('select[name="payment_novalnet_paypal_shopping_type"] option:selected').val() != 'none'){
					
						$('#nn_info').remove();
					
					$('.panel-heading').prepend('<div id="nn_info" class="alert alert-danger">'+$("#paypal_one_click_info").val()+'</div>');
				}
				else {
					$('#nn_info').remove();
				}
			});
    });
    
    $(document).ready(function(){    
    
       nn_payment_onhold();
        
        $('select[name="payment_novalnet_paypal_authenticate"]').change(function(){
            nn_payment_onhold();
        });
    });
    function nn_payment_onhold(){
    if($('select[name="payment_novalnet_paypal_authenticate"] option:selected').val() == 1){
            $('.nn_payment_onhold').show();
        } else {
            $('.nn_payment_onhold').hide();
        }
    }
</script>
